 h1 {
    color: red;
}   

#big-title {
    color: blue;
}

.title{
    color: greenyellow ;
}           
.div{
    width: 200px;
    height: 200px;


    background: green;
    border-radius: 30px;

    /*MARGIN - внешний отступ*/
 margin-top: 500px;
 margin-left: 500px;
 margin-bottom: 500px;
 margin-right: 500px;

 margin: 500px;
}

.box{
    width: 400px;
    height: 700px;
    background: skyblue;
    position: relative;

}
.block{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 600px;
    margin-left: 300px;
    background:red;
}

.countainer {
    width: 400px;
    height: 400px;
    background: greenyellow;

    /*PADDING - ВНУТРЕННИЙ ОТСТУП*/

    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
}
.item {
    width: 100%;
    height: 100%;
    background: red;
}
   
.svetofor {
    width: 200px;
    height: 400px;
    background: black;
}
.red {
   width: 120px;
   height: 120px;
   background: red;
   margin-left: 40px;
   border-radius: 50%;
}
.yellow{
    width: 120px;
    height: 120px;
    background: yellow;
    margin-left: 40px;
    border-radius: 50%;
}
.green{
   width: 120px; 
   height: 120px;
   background: green;
   margin-left: 40px;
   border-radius: 50%;
}
.black{
    width: 50px;
    height: 300px;
    background: black;
    margin-left: 75px;

}
.black2{
    width: 200px;
    height: 50px;
    background: black;

}
